.address {
  position: relative;
  padding: 0;
}

.address__directions-wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 28px 20px 26px 20px;
  width: @mobile-screen;
  background-color: @basic-white;

  @media (min-width: @tablet-screen) {
    padding: 64px 72px 58px 71px;
    width: @tablet-screen;
  }

  @media (min-width: @desktop-screen) {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 570px;
    padding: 66px 89px 51px 76px;
  }
}

.address__slogan {
  width: 140px;
  .set-special-font;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic-text-darker;

  @media (min-width: @tablet-screen) {
    font-size: 20px;
    line-height: 26px;
  }
}

.address__slogan span {
  display: block;
  padding-bottom: 4px;

  @media (min-width: @tablet-screen) {
    padding: 0;
  }
}

.address__directions {
  width: 140px;
  .set-basic-font;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: @basic-text;

  @media (min-width: @tablet-screen) {
    width: 159px;
    font-size: 16px;
    text-align: right;
  }

  @media (min-width: @desktop-screen) {
    text-align: left;
  }
}

.address__directions span {
  display: block;

  @media (min-width: @tablet-screen) {
    padding-top: 20px;
  }
}

.address__map {
  width: 100%;
  background-image: url("../../img/map-back-mobile.jpg");

  @media (min-width: @tablet-screen) {
    height: 400px;
  }
}
