.general-information-list {
  .list-reset;
  padding: 0 20px 23px 20px;
  color: @basic-text;

  @media (min-width: @tablet-screen) {
    padding: 0 0 72px 0;
    width: 630px;
  }

  @media (min-width: @desktop-screen) {
    padding: 0 80px 0 0;
    width: 648px;
  }
}

.general-information-list__label {
  margin: 13px 14px 0 0;

  @media (min-width: @tablet-screen) {
    margin: 11px 18px 0 0;
  }
}

.general-information-list__item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px 0;

  &:last-of-type {
    margin: 0;
  }

  @media (min-width: @tablet-screen) {
    margin: 0 0 20px 0;
  }
}
