.how {
  padding: 0 20px 42px 20px;

  @media (min-width: @tablet-screen) {
    padding: 0 30px 47px 30px;
    border-bottom: 1px solid @divider-3;
  }

  @media (min-width: @desktop-screen) {
    padding: 0 110px 11px 110px;
    border: none;
  }

  &__headline {
    margin: 0 0 50px 0;
    .set-special-font;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;

    @media (min-width: @tablet-screen) {
      margin: 0 0 32px 0;
      font-size: 60px;
      line-height: 60px;
    }
  }

  &__list {
    .list-reset;
    padding: 0 0 0 80px;

    @media (min-width: @tablet-screen) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      padding: 0 74px 0 0;
    }

    @media (min-width: @desktop-screen) {
      padding: 0;
    }
  }

  &__item {
    position: relative;
    margin: 0 0 20px 0;


    .set-basic-font;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: @basic-text;

    @media (min-width: @tablet-screen) {
      margin: 0 0 37px 0;
      padding: 151px 0 0 0;
      height: 280px;
      font-size: 16px;
      line-height: 24px;
    }

    @media (min-width: @desktop-screen) {
      margin: 0;
    }

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: -2px;
      left: -80px;
      width: 60px;
      height: 60px;

      @media (min-width: @tablet-screen) {
        top: 40px;
        left: 0px;
        width: 80px;
        height: 80px;
      }

    }

    &--benefit {
      @media (min-width: @tablet-screen) {
        width: 230px;
        background: url("../img/how__item--benefit-back.svg") no-repeat 127px 40px;
      }

      &::before {
        background-image: url("../img/how__item--benefit.svg");
        @media (min-width: @tablet-screen) {
        background-image: url("../img/how__item--benefit-tablet.svg");
        }
      }

    }

    &--powder {
      @media (min-width: @tablet-screen) {
        width: 246px;
        background: url("../img/how__item--powder-back.svg") no-repeat 124px 40px;
      }

      &::before {
        background-image: url("../img/how__item--powder.svg");
        @media (min-width: @tablet-screen) {
        background-image: url("../img/how__item--powder-tablet.svg");
        }
      }
    }

    &--by-step {
      @media (min-width: @tablet-screen) {
        width: 247px;
        background: url("../img/how__item--by-step-back.svg") no-repeat 124px 40px;
      }

      &::before {
        background-image: url("../img/how__item--by-step.svg");
        @media (min-width: @tablet-screen) {
        background-image: url("../img/how__item--by-step-tablet.svg");
        }
      }
    }

    &--result {
      @media (min-width: @tablet-screen) {
        width: 249px;
        background: url("../img/how__item--result-back.svg") no-repeat 125px 40px;
      }

      &::before {
        background-image: url("../img/how__item--result.svg");
        @media (min-width: @tablet-screen) {
        background-image: url("../img/how__item--result-tablet.svg");
        }
      }
    }
  }
}





.how__item:last-of-type {
  margin: 0;
}
