.page__body {
  min-width: @mobile-screen;
}

.page__header {
  @media (min-width: @tablet-screen) {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: @tablet-screen;
  }

  @media (min-width: @desktop-screen) {
    width: @desktop-screen;
  }
}

.page__footer {

  background-color: @basic-grey;



  @media (min-width: @desktop-screen) {
    width: @desktop-screen;
  }
}
