.page-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 12px 20px 0 20px;

  @media (min-width: @tablet-screen) {
    padding: 24px 30px 62px 30px;
  }

  @media (min-width: @desktop-screen) {
    padding: 53px 110px 111px 110px;
  }

  &__logo-mobile {
    padding: 12px 0 0 0;
  }

  &__nav-toggle {
    border: none;
    background-color: @basic-white;

    @media (min-width: @tablet-screen) {
      display: none;
    }
  }
}
